<!DOCTYPE html>
<html>

<head>
    <title>{{meta.title}} - Slipangle.org</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="description" content="{{meta.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1365787-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <div id="container">
        <header>
            <a title="sad, but true... click to go home" href="/">
                <img border="0" src="/images/evolution.jpg" alt="we've come a long way baby!" id="evolution" />
            </a>
            <h1>
                <a title="Slipangle.org home" href="/" accesskey="h">slipangle.org</a>
            </h1>
        </header>

        <article>
            <div class="entry-meta">
                {{#meta.prettydate}}
                <b>Born:</b> {{meta.prettydate}}
                {{/meta.prettydate}}

                {{#meta.showtags}}
                    <div class="entry-meta-tags">
                        <b>Filed Under:</b>

                        {{#meta.tags}}<a href="/tags/{{.}}">{{.}}</a> {{/meta.tags}}
                    </div>
                {{/meta.showtags}}
            </div>
            <div id="entry-container">
                <h1>{{{meta.title}}}</h1>
                {{{body}}}
            </div>
        </article>
        <footer>
            Thanks for reading! I'm also <a href="https://twitter.com/frockenstein">@frockenstein</a> on Twitter.
        </footer>
    </div> <!-- /.container -->


    <script src="/app.js"></script>
</body>

</html>
