<!DOCTYPE html>
<html>

<head>
    <title>{{meta.title}} - Slipangle.org</title>
    <meta name="google-site-verification" content="iKns5Zo2e79S8AoXeah5fnmFXW78Qj-SWFaMs3E4D58" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="description" content="{{meta.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-53RN5K"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-53RN5K');</script>

    <div id="container">
        <header>
            <a title="sad, but true... click to go home" href="/">
                <img border="0" src="/images/evolution.jpg" alt="we've come a long way baby!" id="evolution" />
            </a>
            <h1>
                <a title="Slipangle.org home" href="/" accesskey="h">slipangle.org</a>
            </h1>
        </header>

        <article>

            <div id="entry-container">
                <h1>{{{meta.title}}}</h1>
                <div class="entry-meta">
                    {{#meta.prettydate}}
                    <b>Born:</b> {{meta.prettydate}}
                    {{/meta.prettydate}}

                    {{#meta.showtags}}
                        <div class="entry-meta-tags">
                            <b>Filed Under:</b>

                            {{#meta.tags}}<a href="/tags/{{.}}">{{.}}</a> {{/meta.tags}}
                        </div>
                    {{/meta.showtags}}
                </div>
                {{{body}}}
            </div>
        </article>
    </div> <!-- /.container -->


    <script src="/app.js"></script>
</body>

</html>
