<h2>Los Canciones de Frock</h2>

<p>All these songs were written, played and recorded by yours truly (except for the Barry White thing at the very bottom). I usually just track everything on a laptop with a couple mics. Drums are usually real drums, but sometimes synth drums. Bass I just run through the guitar amp and guitars are pretty straightforward. I track and mix everything in <a href="http://www.tracktion.com/">Tracktion</a> and master using <a href="https://marketplace.tracktion.com/app/tracktion-master-mix-2.html#.VfHksZ1Viko">Master Mix</a>. Enjoy!</p>

<p>I've done a couple full length CDs:</p>

<iframe name="full" style="width:100%;height:520px;border:0px;" src="http://widget.cdbaby.com/9773236b-145d-49ce-9ab7-b2dab2e6e923/full/light/"></iframe>

<iframe name="full" style="width:100%;height:520px;border:0px;" src="http://widget.cdbaby.com/79960ad7-b5af-40d0-baa3-b93c3dba3686/full/light/"></iframe>

<p>These are singles that will probably get compiled into a CD at some point:</p>

{{#songs}}
<div class="song" id="{{id}}">
    <h3>{{title}}</h3>
    <audio src="//s3.amazonaws.com/frockenstein-mp3/{{id}}.mp3" preload="none" controls></audio>
    <div class="song-meta">
        {{{notes}}}
        {{#lyrics}}
            <a href="#{{id}}-lyrics" class="show-lyrics">(lyrics)</a>
            <div class="song-lyrics" id="{{id}}-lyrics">{{lyrics}}</div>
        {{/lyrics}}
    </div>
</div>
{{/songs}}

<h2>Gypsy Jazz and Classical Dalliances</h2>
{{#classical}}
<div class="song" id="{{id}}">
    <h3>{{title}}</h3>
    <audio src="//s3.amazonaws.com/frockenstein-mp3/{{id}}.mp3" preload="none" controls></audio>
    <div class="song-meta">
        {{{notes}}}
    </div>
</div>
{{/classical}}

<h2>Other Oddities</h2>
{{#others}}
<div class="song" id="{{id}}">
    <h3>{{title}}</h3>
    <audio src="//s3.amazonaws.com/frockenstein-mp3/{{id}}.mp3" preload="none" controls></audio>
    <div class="song-meta">
        {{{notes}}}
    </div>
</div>
{{/others}}